body {
  background-color: rgba(39, 87, 233, 0.342);
  color: rgb(0, 4, 39);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

.inputbox {
  /* text-align: center; */
}

.title {
  /* text-align: center; */
}

#search-button {
  margin-top: 20px;

}